body {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: sans-serif;
  color: #ddd8c2;
}

.container {
  max-width: 900px;
  display: flex;
  background: #1b1c1d;
  box-shadow: 0 0 6px 4px #ddd8c2;
  margin-top: 60px;
}

.contact-info {
  width: 25%;
  padding: 30px 50px;
  border-right: 2px solid #ddd8c2;
}

.main-info {
  width: 65%;
  padding: 30px 50px;
}

section:not(:last-child) {
  margin-bottom: 30px;
}

.main-info > * > *,
.contact-info > * {
  margin: 5px 0;
}

.experience,
.projects {
  text-align: right;
}

.experience h2 {
  color: #fa9bbb;
}

.education h2 {
  color: #93d1ac;
}

.projects h2 {
  color: #fe5c2b;
}

.skills h2 {
  color: #b5aad1;
}

h2 {
  margin-bottom: 10px !important;
}

h4 {
  //
}

h5 {
  line-height: 18px;
}

p {
  font-size: 0.8em;
}

span {
  color: gray;
  font-size: 0.9em;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #fe5c2b91;
}

a:hover {
  color: #fe5c2b;
}

.skills > div {
  display: flex;
}

.skills p {
  font-weight: bold;
  color: #ddd8c2;
  font-size: 16px;
  margin: 5px 0;
  margin-right: 40px;
}
